-var page = 1;
ul.pagination
    while (page <= numOfPages)
        if page == currentPage 
            li(class='selected')= page++
        else 
            li
                a(class="button" href=url + "&page=" + page)= page++
    